:root {
--main-bg-color: #ffff;
--accent-bg-color: #fbfafa;
--main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
--accent-font-family: 'Open Sans',Calibri, sans-serif;
--main-font-color:#000;
--accent-font-color:#555559;
--accent-color: #286782;
}
* {
margin: 0;
padding: 0;
font-family: var(--main-font-family)
}
.menu{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    margin-top: 480px;
    background-color: var(--main-bg-color);
    font-size: larger;
    font-weight: 400;
    overflow: hidden;
}
.placeholder{
    height: 480px;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style-type: none;
    margin: 37px;
}
.menu ul li a {
    text-decoration: none;
    color: #000;
}
.menu button{
    font-size: 16px;
    margin: auto;
    padding: 16px 24px;
    background-color: var(--main-bg-color);
    border: none;
}
.header-image{
    position: fixed;
    top: 0;
    height: 500px;
    width: 100vw;
    z-index: -1;
    object-fit: cover;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), 20%, rgba(255, 255, 255, 0)),
    url('/images/header.jpg');
}
.insta{
    position: fixed;
    display: flex;
    align-items: center;
    right: 20px;
    top: 10px;
    color: #fff;
    font-size: 1rem;
}
.information{
    height: 720px;
    background-color: var(--accent-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information img{
    width: 100px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.information p{
    font-size: 57.6px;
    font-family: var(--accent-font-family);
    font-weight: 100;
    color: var(--accent-font-color);
    padding: 0 100px;
    text-align: center;
    max-width: 900px;
}
.information button{
    font-size: 22.4px;
    margin-top: 30px;
    margin-bottom: 170px;
    background-color: var(--accent-color);
    color: var(--accent-bg-color);
    padding: 24px 40px;
    font-family: var(--accent-font-family);
    border-radius: 8px;
    border: none;
}
.description{
    background-color: var(--main-bg-color);
    display: flex;
}
.description div{    
    flex: 0 0 50%;
}
.description-image img{
    display: block;
    width: 100%;
    object-fit: contain;
}
.description-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description-text >*{
    padding: 0 10vw;
}
.description-text ul{
    list-style-image: url('/images/dash.svg');
    margin-bottom: 24px;
}
.description-text ul li{
    font-family: var(--accent-font-family);
    font-size: 26px;
    font-weight: 700;
}
.description-text p{
    font-size: 19px;
    font-weight: 100;
}
footer{
    background-color: var(--accent-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footer-contact-info{
    display: flex;
}
.footer-contact-info div{
    padding: 0 10px;
}
.display-only-small{
    display: none;
}
@media screen and (max-width: 800px) {
    .description{
        /* display: flex; */
        flex-direction: column;
        padding: 20px 0;
    }
    .description-text{
        padding-bottom: 1.5rem;
    }
    .description:last-of-type{
        padding-bottom: 0;
    }
    .display-only-large{
        display: none;
    }
    .display-only-small{
        display: block;
    }
    footer{
        flex-direction: column;
    }
    footer div{
        margin: auto;
        padding-bottom: 10px;
    }
    .footer-contact-info{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        margin-top: 30vh;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu ul li {
        margin:10px auto;
    }
    .information{
        height: auto;
    }
    .information p{
        font-size: 2rem;
        padding: 0 1rem;
    }
  }
@media screen and (max-width:800px) {
    .menu .display-none-toggle{
        display: none;
    }
}
@media screen and (min-width: 801px) {
  .display-none-toggle{
      display: flex;
    }
}